.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accountActionItem {
  margin: 0 15px;
  cursor: pointer;
  text-align: center;
}

.account {
  margin-right: 15px;
}

.accountActionContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
    padding: 10px;
    flex-wrap: wrap;
  }
  .accountActionContainer {
    padding-top: 10px;
  }
  .accountActionItem {
    margin: 0 10px;
  }
}
